<!DOCTYPE html>
<html>
<head>
    <title>Premium Car Servicing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body style="background-color: black;">
    <div class="hero">
        <nav><%- include("C:\\Users\\HP\\Desktop\\Backend\\car_service\\public\\partial\\header.ejs")  %></nav>
        <div class="hero_text">
            <div class="text">
                <h1>Premium Car Servicing</h1>
                <h2>for a Smoother Drive and <br>
                    Unmatched Reliability</h2>
                <h3>Expert Technicians, Transparent<br> Pricing, and Reliable Repairs to <br>Keep Your Vehicle in Top Condition</h3>
            </div>
        </div>

        <div class="quality">
            <div class="quality1">
                <img src="\images\\best-prices.png" alt="best-prices">
                <div class="txt">
                    <h4 id="color_nav">Best Prices</h4>
                    <p id="color_nav">all part are avaible here</p>
                </div>
            </div>
            <div class="quality1">
                <img src="\images\\guarantee.png" alt="gt">
                <div class="txt">
                    <h4 id="color_nav">100% guarantee</h4>
                    <p id="color_nav">we provides full guarantee</p>
                </div>
            </div>
            <div class="quality1">
                <img src="\images\\certified.png" alt="crt">
                <div class="txt">
                    <h4 id="color_nav">certified</h4>
                    <p id="color_nav">we provide certified service</p>
                </div>
            </div>
        </div>
    </div>

    <!-- top category -->
    <div class="top_category">
        <h1 style="color: white;">Top Categories</h1>
        <div class="cir1">
            <img src="\images\Ellipse 1.png" alt="">
        </div>
        <div class="cir">
            <img src="\images\Ellipse 2.png" alt="">
        </div>
        <div class="all_facility">
            <div class="facility">
                <img src="\images\Single-Content.png" alt="">
            </div>
            <div class="facility">
                <img src="\images\Single-Content (1).png" alt="">
            </div>
            <div class="facility">
                <img src="\images\Single-Content (2).png" alt="">
            </div>
            <div class="facility">
                <img src="\images\Single-Content (3).png" alt="">
            </div>
            <div class="facility">
                <img src="\images\Single-Content (4).png" alt="">
            </div>
            <div class="facility">
                <img src="\images\Single-Content (5).png" alt="">
            </div>
        </div>
    </div>

    <!-- why choose us -->
    <div class="why_us">
        <div class="left">
            <h2>Why choose us ?</h2>
            <h4 id="color_nav">Experience the best in car price <br> Listing the user friendly design.</h4>
            <p id="color_nav">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maxime soluta cum distinctio optio non reiciendis excepturi perferendis sit rerum possimus voluptatum, nihil eum eligendi aut assumenda! Nihil, recusandae tempora.</p>
            <div class="check">
                <div class="fast_delivary"></div>
                <div class="certified_product"></div>
            </div>
        </div>

        <div class="right">
            <img src="\images\photoss.png" alt="">
        </div>
    </div>

    <!-- most popular item uses dynamic -->
    <div class="top_category">
        <h1 style="color: white;">Most Popular items</h1>
    </div>

    <!-- faqs -->
     <div class="faqs">
        <div class="top_category">
            <h1 style="color: white;">Frequently Ask Questions(<span style="color: yellow;">FAQs</span>)</h1>
        </div>
        <div class="faq_ans">
            <div class="ques">
                <div class="bar">
                    <p id="color_nav">What type of car services do you offer?</p>
                    <img src="\images\Button Circle.png" alt="" id="plus">
                </div>
            </div>
            <div class="ans" id="minus">
                <div class="answer">
                    <p id="color_nav">What type of car services do you offer?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate mollitia ea sint distinctio, vel, veniam eligendi odit deleniti veritatis quos ullam<br> ut maxime dignissimos quisquam ab quam provident consequatur officiis accusamus!</p>
                    <div class="neg">
                        <i class="fa-solid fa-minus" style="color: white;"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq_ans">
            <div class="ques">
                <div class="bar">
                    <p id="color_nav">What type of car services do you offer?</p>
                    <img src="\images\Button Circle.png" alt="" id="plus">
                </div>
            </div>
            <div class="ans">
                <div class="answer">
                    <p id="color_nav">What type of car services do you offer?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate mollitia ea sint distinctio, vel, veniam eligendi odit deleniti veritatis quos ullam<br> ut maxime dignissimos quisquam ab quam provident consequatur officiis accusamus!</p>
                    <div class="neg">
                        <i class="fa-solid fa-minus" style="color: white;"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq_ans">
            <div class="ques">
                <div class="bar">
                    <p id="color_nav">What type of car services do you offer?</p>
                    <img src="\images\Button Circle.png" alt="" id="plus">
                </div>
            </div>
            <div class="ans">
                <div class="answer">
                    <p id="color_nav">What type of car services do you offer?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate mollitia ea sint distinctio, vel, veniam eligendi odit deleniti veritatis quos ullam<br> ut maxime dignissimos quisquam ab quam provident consequatur officiis accusamus!</p>
                    <div class="neg">
                        <i class="fa-solid fa-minus" style="color: white;"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq_ans">
            <div class="ques">
                <div class="bar">
                    <p id="color_nav">What type of car services do you offer?</p>
                    <img src="\images\Button Circle.png" alt="" id="plus">
                </div>
            </div>
            <div class="ans" id="minus">
                <div class="answer">
                    <p id="color_nav">What type of car services do you offer?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate mollitia ea sint distinctio, vel, veniam eligendi odit deleniti veritatis quos ullam<br> ut maxime dignissimos quisquam ab quam provident consequatur officiis accusamus!</p>
                    <div class="neg">
                        <i class="fa-solid fa-minus" style="color: white;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="slideshow">
        <div class="marquee1">
            <marquee behavior="scroll" direction="left" loop="-1">
                <img src="/images/image 1133.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1134.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1135.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1136.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1137.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1138.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1139.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1140.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1141.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1142.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1143.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1144.png" alt="Scrolling Image" width="250px" height="80px">
            </marquee>
        </div> -->

        <!--<div class="marquee2"></div>
            <marquee behavior="scroll" direction="left" loop="-1">
                <img src="/images/image 1133.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1134.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1135.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1136.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1137.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1138.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1139.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1140.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1141.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1142.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1143.png" alt="Scrolling Image" width="250px" height="80px">
                <img src="/images/image 1144.png" alt="Scrolling Image" width="250px" height="80px">
            </marquee>
        </div>
    </div> -->


    <div class="satisfaction">
        <div class="head">
            <h2 id="color_nav">Voices of <span class="stf">Satisfaction :</span></h2>
            <h2 id="color_nav">What our client says</h2>
        </div>

        
        <div class="review-card">
            <div class="user-info">
                <img src="profile-picture.jpg" alt="Jacob Ortega" class="profile-pic">
                <div>
                    <h2>Jacob Ortega</h2>
                    <p class="review-date">10 June 2024</p>
                </div>
            </div>
            <div class="rating">
                <span class="stars">★★★★★</span>
            </div>
            <p class="review-text">
                "The comprehensive services offered by this auto shop were impressive. I appreciate their extended working hours, which are highly convenient for busy individuals. They also provide a free vehicle health checkup with every service, emphasizing their commitment to the customer's safety."
            </p>
        </div>
    

    </div>
    <script src="/script/script.js"></script>
</body>
</html>